* {
    
    margin: 0px;
    padding: 0px;
}
.link_modal{
    text-decoration: none;
    color: black;
    background-color: aqua;
}
body {
    background-color: darkgray;
    margin: 0px;
    padding: 1px;
}

.button {
    background-color: rgb(20,153,230);
    color: rgb(0, 0, 0);
    border: 5px rgb(20, 153, 230) solid;
    text-decoration: none;
    float:left;
}